body {
    background: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.main-menu {
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    background: none;
    -webkit-box-shadow: 0px -6px 30px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 30px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 30px -10px rgba(0, 0, 0, 0.75);
}

.navbar-light .navbar-nav .nav-link {
    color: #007bff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FC032C;
}

.navbar-light .navbar-nav .nav-link:focus {
    color: #FC032C;
}

@media (min-width: 890px) {
    .block-align-right {
        display: inline-flex;
        position: absolute;
        right: 60px;
    }
}

input[class*="nav-search-form"] {
    background: #E2E2E2;
    border-radius: 4px;
    border: none;
}

input[class*="nav-search-form"]:focus {
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #00D054;
    align-items: center;
}

.btn-outline-success {
    color: #00D054;
    border: 1px solid #00D054;
}

.btn-outline-success:hover {
    align-items: center;
    background: #00D054;
    border: none;
}

.homepage-actions {
    height: auto;
    min-height: 100vh;
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding: 80px 0 0 0;
    font-family: 'Roboto', sans-serif;
    background: url("../images/raw/flowers.png") center fixed;
}

#welcome-message {
    padding: 120px;
}

#welcome-message>h1 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 945px) {
    #welcome-message {
        padding: 10px;
    }
}

.card {
    width: 320px;
}

.card-body {
    text-align: left;
}

.action-card-individual {
    text-align: center;
    display: inline-block;
    padding: 4px;
    color: #FFFFFF;
    height: 250px;
    width: 45%;
    border-radius: 2px;
    margin-right: 20px;
    background: linear-gradient(135deg, #ee0979 0%, #ff6a00 100%);
    /* linear-gradient(135deg, #ee0979 0%,#ff6a00 100%) */
    -webkit-box-shadow: -1px 2px 28px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 28px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 28px -3px rgba(0, 0, 0, 0.75);
}

.action-card-donator {
    text-align: center;
    display: inline-block;
    padding: 4px;
    color: #FFFFFF;
    height: 250px;
    width: 45%;
    border-radius: 2px;
    margin-left: 20px;
    background: linear-gradient(135deg, #00bf8f 0%, #001510 100%);
    /* linear-gradient(135deg, #00bf8f 0%,#001510 100%) */
    -webkit-box-shadow: -1px 2px 28px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 28px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 28px -3px rgba(0, 0, 0, 0.75);
}

.action-card-individual:hover,
.action-card-donator:hover {
    cursor: pointer;
    -webkit-box-shadow: 2px 6px 36px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 6px 36px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 6px 36px -2px rgba(0, 0, 0, 0.75);
}

h2.action-card-title {
    line-height: 3;
    font-size: 40px;
    font-weight: 900;
}

.action-card-container {
    max-width: 550px;
    display: inline-block;
}

span.red {
    color: #FC032C;
}

@media (max-width: 1150px) {
    .homepage-actions {
        display: flex;
    }
    .action-card-individual,
    .action-card-donator {
        display: block;
        margin-bottom: 30px;
    }
    .action-card-container {
        max-width: 375px;
    }
    h2.action-card-title {
        font-size: 25px;
        line-height: 2;
    }
}

@media (max-width: 830px) {
    .action-card-individual,
    .action-card-donator {
        margin: 0px auto;
        margin-top: 20px;
        display: block;
        width: 70%;
    }
    .homepage-actions {
        display: block;
    }
}

@media (max-width: 500px) {
    h2.action-card-title {
        font-size: 20px;
    }
}

section.current-campaigns {
    text-align: left;
    padding: 20px;
}

section.current-campaigns>h4 {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

section.about-us {
    background: url('../images/optimized/section1-dark.png') no-repeat center;
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    background-size: cover;
    height: auto;
    padding: 230px 0 0 50px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    margin-left: -1px;
    text-align: left;
}

section.about-us>h2 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}

section.about-us>p {
    max-width: 600px;
    font-size: 22px;
}

.team-fadeIn {
    background: url('../images/raw/team-ps.png') no-repeat center;
    height: 300px;
    bottom: 0px;
    position: relative;
    background-size: contain;
    margin: 0 0 0 -55px;
}

@media(max-width: 650px) {
    section.about-us {
        text-align: center;
        padding: 250px 10px 0 10px;
    }
    section.about-us>p {
        max-width: 400px;
        color: #FFFFFF;
        font-size: 16px;
        padding: 20px;
        margin: 0px auto;
    }
    .team-fadeIn {
        margin: 0px auto;
    }
}

@media(max-width: 400px) {
    section.about-us>p {
        width: 340px;
    }
}

button.find-more {
    color: #22E500;
    background: none;
    border: 1px solid #22E500;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

button.find-more:hover {
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: inset 135px 0 0 0 #22E500;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

section.our-process {
    background: url('../images/optimized/section22-yellow.png') no-repeat center;
    background-size: auto auto;
    background-size: auto auto;
    background-size: auto auto;
    background-size: cover;
    height: auto;
    min-height: 820px;
    padding: 50px 50px 0 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    margin-top: -1px;
    text-align: center;
}

@media(max-width: 1245px) {
    section.our-process {
        margin-top: -4px;
    }
}

section.our-process>h2 {
    color: #000000;
    font-weight: 900;
    font-size: 45px;
    margin: 0 0 50px 0;
    font-family: 'Roboto', sans-serif;
}

section.our-process>p {
    max-width: 800px;
    color: #000000;
    font-size: 22px;
    margin: 0px auto;
    padding: 50px 0 0 0;
}

section.our-process>img {
    width: 100%;
    max-width: 800px;
}

@media(max-width: 650px) {
    section.our-process {
        margin: -3px 0 0 0;
    }
    section.our-process>p {
        max-width: 400px;
        font-size: 16px;
        padding: 20px;
        margin: 0px auto;
    }
}

@media(max-width: 400px) {
    section.about-us>p {
        width: 340px;
    }
}

@media(min-width: 1920px) {
    section.our-process {
        min-height: 1070px;
    }
}

section.security {
    background-color: #e8eab9;
    height: auto;
    min-height: 550px;
    padding: 50px 50px 0 0px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-top: -1px;
    text-align: right;
}

section.security>h2 {
    color: #22E500;
    font-weight: 900;
    font-size: 45px;
    margin: 0 0 50px 0;
    font-family: 'Roboto', sans-serif;
}

section.security>p {
    max-width: 700px;
    color: #000000;
    font-size: 22px;
    right: 50px;
    position: absolute;
}

section.security>img {
    float: left;
    width: 100%;
    max-width: 400px;
    margin: 60px;
    -webkit-animation: slowBounceImage 2000ms infinite;
    -moz-animation: slowBounceImage 2000ms infinite;
    animation: slowBounceImage 2000ms infinite;
}

@media(max-width: 1070px) {
    section.security>img {
        float: none;
        width: 100%;
        max-width: 400px;
        margin: 0px auto;
    }
    section.security>p {
        max-width: 700px;
        color: #000000;
        font-size: 22px;
        right: 0;
        position: relative;
        margin: 0px auto;
    }
    section.security {
        background-color: #e8eab9;
        height: auto;
        min-height: 800px;
        padding: 50px 50px 0 0px;
        font-family: 'Open Sans', sans-serif;
        color: #000000;
        margin-top: -1px;
        text-align: center;
    }
}

@media(max-width: 560px) {
    section.security {
        text-align: left;
        padding: 50px;
    }
    section.security>img {
        width: 70%;
    }
    section.security>p {
        font-size: 16px;
    }
}

section.payment {
    background-color: #0030ff;
    height: auto;
    min-height: 550px;
    padding: 50px 50px 0 0px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    margin-top: -1px;
    text-align: left;
}

section.payment>h2 {
    color: #FFF303;
    font-weight: 900;
    font-size: 45px;
    margin: 0 0 50px 50px;
    font-family: 'Roboto', sans-serif;
}

section.payment>p {
    max-width: 700px;
    color: #FFFFFF;
    font-size: 22px;
    left: 50px;
    position: absolute;
}

section.payment>img {
    float: right;
    width: 100%;
    max-width: 400px;
    margin: 60px;
    -webkit-animation: slowBounceImage 2000ms infinite;
    -moz-animation: slowBounceImage 2000ms infinite;
    animation: slowBounceImage 2000ms infinite;
}

@media(max-width: 1070px) {
    section.payment>img {
        float: none;
        width: 100%;
        max-width: 400px;
        margin: 0px auto;
    }
    section.payment>p {
        max-width: 700px;
        color: #000000;
        font-size: 22px;
        right: 0;
        position: relative;
        margin: 0px auto;
    }
    section.payment {
        background-color: #0030ff;
        height: auto;
        min-height: 800px;
        padding: 50px 50px 0 0px;
        font-family: 'Open Sans', sans-serif;
        color: #000000;
        margin-top: -1px;
        text-align: center;
    }
}

@media(max-width: 560px) {
    section.payment {
        text-align: left;
    }
    section.payment>img {
        width: 70%;
    }
    section.payment>p {
        font-size: 16px;
    }
}

@-webkit-keyframes slowBounceImage {
    0% {
        margin: 60px 60px 60px 60px;
    }
    50% {
        margin: 50px 60px 60px 60px;
    }
    100% {
        margin: 60px 60px 60px 60px;
    }
}

@-moz-keyframes slowBounceImage {
    0% {
        margin: 60px 60px 60px 60px;
    }
    50% {
        margin: 50px 60px 60px 60px;
    }
    100% {
        margin: 60px 60px 60px 60px;
    }
}

@keyframes slowBounceImage {
    0% {
        margin: 60px 60px 60px 60px;
    }
    50% {
        margin: 50px 60px 60px 60px;
    }
    100% {
        margin: 60px 60px 60px 60px;
    }
}

.carousel-control-next,
.carousel-control-prev {
    width: 40px;
    padding: 10px;
    background: #FC032C;
    position: relative;
    border-radius: 2px;
    display: inline-block;
}

.carousel-indicators {
    position: absolute;
    right: 50px;
    background-color: #FC032C;
    max-width: 136px;
    padding: 16px;
    border-radius: 4px;
    margin: -36px 0 0 0;
    left: auto;
    bottom: auto;
}

.carousel-inner {
    text-align: center;
}

.card {
    border: 2px solid #007bff;
    display: inline-block;
    margin: 6px;
}

.card-body {
    font-family: 'Nunito', sans-serif
}

h4.card-title {
    color: #ef112f;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}


/* Registration */

#registration-container {
    height: auto;
    min-height: 100vh;
    background: url("../images/raw/register-background-full.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-wrapper {
    padding: 120px 10px 10px 10px;
    text-align: center;
}

h2.register,
h6 {
    padding: 6px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.form-control {
    display: block;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    background-color: rgba(0, 0, 0, .30);
    background-image: none;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
}

.form-control:focus {
    border: 1px solid #FC032C;
    background: rgba(0, 0, 0, .60);
}

label {
    border-bottom: 1px solid #FC032C;
}

form.register {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 1000px;
    margin: 0px auto;
    text-align: left;
}

button#btn-submit {
    color: #FC032C;
    background: none;
    border: 1px solid #FC032C;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    border-radius: 0px;
}

button#btn-submit:hover {
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: inset 135px 0 0 0 #FC032C;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.btn-back {
    border: none;
    color: #22E500;
    border: 2px solid#22E500;
    background: none;
    padding: 8px;
    border-radius: 2px;
    margin: 8% 0 0 45%;
    display: none;
    font-family: 'Nunito', sans-serif;
}

.account-selector {
    display: inline-block;
    margin: 0px auto;
    padding: 10px;
}

.organisation-account,
.individual-account {
    display: inline-block;
    text-align: center;
    width: 230px;
    height: 230px;
    border-radius: 4px;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.organisation-account:hover,
.individual-account:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.organisation-account:focus,
.individual-account:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

h5.account-type-label {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    top: 50px;
}

.icon-organisation {
    top: 45px;
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
    background: url("../images/icons/organisation-icon.svg") no-repeat;
}

.icon-individual {
    top: 45px;
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
    background: url("../images/icons/individual-icon.svg") no-repeat;
}

.separator-container {
    position: relative;
    display: inline-block;
    margin: 0 50px 0 50px;
}

.separator {
    margin: 10px;
    border-left: 2px solid #FFFFFF;
    height: 50px;
}

.campaign-wrapper {
    margin-top: 90px;
    padding: 10px;
}

.campaign-main-body {
    margin-top: 20px;
}

.campaign-overview {
    color: #6e6e6e;
}

.campaign-image {
    text-align: center;
    width: 111%;
    position: relative;
    margin-left: -40px;
    padding: 30px;
    margin-top: -35px;
    background-color: #007bff;
}

.img-campaign {
    margin: 0 0 0 -32px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 19px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 19px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 19px -7px rgba(0, 0, 0, 0.75);
}

.campaign-title {
    font-size: 45px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.campaign-donation-message {
    color: #EE0979;
    font-family: 'Nunito', sans-serif;
}

.campaign-actions {
    top: 65px;
    right: 0;
    padding: 10px;
    height: 100vh;
    min-height: auto;
    position: absolute;
    background-color: #F0F0F0;
}

.campaign-goal {
    position: fixed;
    padding: 10px;
    margin: -10px;
    background-color: #F0F0F0;
}

.release-element {
    position: relative;
}

.campaign-scrollable-bar {
    opacity: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
    background-color: #EE0979;
    min-height: 75px;
    position: fixed;
    width: 60%;
    top: 65px;
    margin-left: -3%;
    padding: 22px 0 10px 55px;
}

.campaign-progress-wrapper {
    margin-top: 20px;
}

.progress-bar {
    height: 25px;
    padding: 4px;
    font-family: 'Nunito', sans-serif;
}

.progress {
    background-color: #D8D8D8;
}

p.quick-message {
    opacity: 0;
    color: #FFFFFF;
    padding: 6px;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    width: 211px;
    margin-top: -45px;
}

.campaign-organiser-wrapper {
    width: 100%;
}

.campaign-organiser-container {
    border: 1px solid #000000;
    border-radius: 4px;
    max-width: 280px;
    padding: 4px;
    margin: 0px auto;
    min-height: 115px;
}

.organisation-avatar-sm {
    float: left;
    margin: 3px 12px 0 3px;
    max-width: 90px;
}

.organisation-card-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.verified {
    font-size: 14px;
    color: #00AF66;
}

.view-profile {
    width: 120px;
    height: 30px;
    font-size: 14px;
    padding: 2px;
    margin: 0px;
}


/*-- User Authentication --*/


/*-- User Profile --*/

.profile-container {
    margin: 100px 50px 0 50px;
}

.profile-container>a.nav-link {
    color: #FFFFFF;
}

.top-container {
    height: 50vh;
    text-align: center;
    margin: 0px 0px 50px 0px;
    padding: 100px 30px 0 30px;
    font-family: 'Roboto', sans-serif;
    background: url("../images/raw/flowers.png") center fixed;
}

.profile-info-wrapper {
    color: #FFF;
    float: left;
    text-align: left;
    margin: 10px 0 0 20px;
}

.profile-info-wrapper>span {
    display: block;
}

.campaign-sidebar {
    float: left;
    width: 100%;
    color: #FFFFFF;
    border-radius: 4px;
    min-height: 300px;
    font-family: 'Roboto', sans-serif;
    background-color: #007bff;
}

.campaign-sidebar-title {
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    background-color: #007bbe;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.campaign-sidebar-body {
    padding: 10px;
    background-color: #007bff;
}

.campaign-sidebar-item {
    color: #FFFFFF;
    text-align: center;
    padding: 6px;
    border-radius: 2px;
    width: 100%;
    border: none;
    background: #226cd8;
    margin: 4px 0 4px 0;
}

#particles-js {
    position: relative;
    padding: 2px;
    width: 100%;
    min-height: 50vh;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background: #6819e8;
    /* Old browsers */
    background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2', GradientType=1);
    /* IE6-9 */
}

#particles-js>h1 {
    margin: 150px 0 0 120px;
    color: #FFFFFF;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

#particles-js>h6 {
    margin: 10px 0 0 120px;
    color: #FFFFFF;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.special {
    padding-top: 40px;
    padding-left: 40px;
}

.special>h2 {
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    margin-top: 66px;
    padding: 12px;
    height: 100vh;
    background: #ECECEC;
    position: fixed;
}

.browse-campaign-container {
    background-color: #F6F6F6;
    margin-top: 66px;
    padding: 12px;
    right: 0;
    position: absolute;
    height: auto;
}

h1.featured {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #202020;
}

.browse-banner {
    width: 100%;
    height: auto;
    padding: 25px;
    color: #FFFFFF;
    border-radius: 4px;
    background: url("../images/optimized/sea-cropped.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.browse-banner>h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.browse-banner>p {
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
}

button.fund-this {
    border: 1px solid #22E500;
    padding: 10px;
    border-radius: 4px;
    background: none;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

button.fund-this>a:visited {
    color: #FFFFFF;
}

button.fund-this:hover {
    background-color: #22E500;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

button.fund-this-sm {
    border: 1px solid #FC032C;
    padding: 10px;
    border-radius: 4px;
    background: none;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

button.fund-this-sm>a:visited {
    color: #FFFFFF;
}

button.fund-this-sm:hover {
    background-color: #FC032C;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

button.fund-this-sm:hover~.campaign>img {
    -moz-transform: scale(1.9);
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
}

.funding-goal {
    font-size: 12px;
    max-width: 180px;
    color: #22E500;
    background: rgba(0, 0, 0, .30);
    border-radius: 2px;
    padding: 4px;
    float: right;
    text-align: right;
}

.browse-campaign-cards {
    margin: 40px 0 0 70px;
}

.campaign {
    margin: 35px;
    max-width: 400px;
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    padding: 0px;
}

.campaign>img {
    max-width: 500px;
    min-height: 40vh;
    height: auto;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.campaign>img:hover {
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

.overlay {
    padding: 12px;
    display: block;
    position: absolute;
    min-height: 50vh;
    -webkit-box-shadow: inset 2px -165px 104px -6px rgba(0, 11, 66, .6);
    -moz-box-shadow: inset 2px -165px 104px -6px rgba(0, 11, 66, .6);
    box-shadow: inset 2px -165px 104px -6px rgba(0, 11, 66, .6);
    z-index: 1;
    height: 40vh;
    width: 100%;
}

.overlay>p,
.overlay>h2 {
    color: #FFFFFF;
}

.overlay>h2 {
    color: #FFFFFF;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

button.fund-this-sm:hover~.browse-campaign-container {
    background-color: #00ff00;
}

#sortBy:focus {
    color: #FFFFFF;
    background-color: #aaa;
    border: none;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0
}

.donate-button {
    background: none;
    border: 1px solid #FC032C;
    padding: 10px;
    border-radius: 4px;
}

.location>h1 {
    text-align: center;
}